NEXT_PUBLIC_SUPABASE_URL=https://bsqoqcdvnzabjwejxmnp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_9thlRXCkQztfDTRhmC5LSg_CGAvegHq
SUPABASE_SERVICE_ROLE_KEY=sb_secret_mFPu6pqHsEhTiZVCb6hojA_bIyHnuW9
NEXT_PUBLIC_SITE_URL=https://kyzo-mods.vercel.app/

# Midtrans Snap
# false = Sandbox, true = Production
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=Mid-server-BbpJPQqtnQze90WwuVChMW9c
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=Mid-client-pJh2nTWH0fXR1Re6
# Client-side flag for Snap.js URL selection
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=false

SUPABASE_MOD_BUCKET=mods
SUPABASE_THUMB_BUCKET=thumbnails
